body, html {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🐾</text></svg>") 16 0, auto !important;
}

body {
  background-image: url("cat1.jpg");
  background-size: cover;
  margin-left: 10px;
}

.title {
  font-family: helvetica, arial, sans-serif;
  font-size: 100px;
  letter-spacing: -4px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(229, 229, 229);
  margin-bottom: 40px;
}

.link {
  font-family: helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.link:hover {
  color: #fff567;
}